<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
Index
<div class="row">
    <div>Cookie passed: <%= cookie %></div>
    <div>Session: <%= session %></div>
    <div>Signed Cookie passed: <%= signedCookie %></div>
</div>
<div class="row">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="img/keg.PNG" alt="Card image cap"/>
        <div class="card-body">
            <h4 class="card-title">Card Title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
</div>

</body>
</html>